.zc_container {
    position: fixed;
    left: 1.2rem;
    bottom: 0.6rem;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    align-items: center;
}

.zc_container button {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    font-size: 2rem;
    margin: 0.6rem 0;
    cursor: pointer;
    border-width: 0.08rem;
}