.tweet_header__container {
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet_header__user {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  max-width: 70%;
  overflow-x: hidden;
}

.tweet_header__user__avatar {
  height: 3.2rem;
  width: 3.2rem;
  margin-right: 0.6rem;
  flex-shrink: 0;
}

.tweet_header__user__avatar img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

.tweet_header__user__names {
  display: flex;
  flex-direction: column;
  line-height: 1.25;
  white-space: nowrap;
}

.tweet_header__user__dn {
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  white-space: nowrap;
}

.tweet_header__user__dn:hover {
  text-decoration: underline;
}

.tweet_header__user__sn {
  font-size: 1rem;
  color: #666;
}

.tweet_header__user__follow {
  color: #006fd6;
  font-size: 1rem;
  margin-left: 0.5rem;
  text-decoration: none;
}

.tweet_header__type {
  background-color: green;
  color: #fafafa;
  font-size: 1rem;
  font-weight: 700;
}

.tweet_actions__container {
  display: flex;
  flex-direction: column;
  border-top: 0.1rem solid #f0f0f0;
  margin-top: 0.2rem;
  padding-top: 0.3rem;
}

.tweet_actions__icon_wrapper {
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  vertical-align: middle;
}

.tweet_actions__like_icon {
  fill: rgb(249, 24, 128);
}

.tweet_actions__reply_icon {
  fill: rgb(29, 155, 240);
}

.tweet_actions__link_icon {
  fill: #777;
}

.tweet_actions__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.8rem;
}

.tweet_actions_icon_text {
  font-size: 0.8rem;
  font-weight: 700;
  color: #555;
  vertical-align: middle;
  margin-left: 0.4rem;
}

.divider {
  width: 100%;
  height: 0.8rem;
  border-radius: 0.6rem;
}
