.root {
  font-size: var(--tweet-body-font-size);
  font-weight: var(--tweet-body-font-weight);
  line-height: var(--tweet-body-line-height);
  margin: var(--tweet-body-margin);
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.root[data-in-thread="true"] {
  font-size: calc(0.92 * var(--tweet-body-font-size));
  line-height: calc(0.92 * var(--tweet-body-line-height));
  margin: calc(0.8 * var(--tweet-body-margin));
}
